.trivy-tab-bar {
  --background: var(--c-bg);
  --border: none;
  border-top: 1px solid var(--c-surface-2);
  padding-bottom: env(safe-area-inset-bottom);

  ion-tab-button {
    --color: var(--c-text-6);
    --color-selected: #6C63FF;

    ion-label {
      font-size: 11px;
      font-weight: 600;
    }
  }
}
